body {
    background: url("../resources/background.jpg") no-repeat;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

table, tr, th, td {
    border: 2px solid silver;
    padding: 5px;
    width: max-content;
}

#container h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 14px;
    margin-top: 50px;
}

#container h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.add table {
    border: 2px solid silver;
    border-collapse: collapse;
    padding: 5px;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.error {
    color: red;
    font-style: oblique;
    font-weight: bold;
}
